source/index.html.slim
---
title: BOOM Concepts
---

section.site-hero
  .container-fluid
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-lg-10.offset-lg-1.col-xl-9
        .site-hero-content
          h1
            span.headline-word--boom Boom&nbsp;
            span.headline-word--concepts Concepts,&nbsp;
            span.headline-sentence A Creative Hub For Our Community
          .row
            .col-lg-8
              p.large
                | BOOM is a space for field building, knowledge sharing, mentorship, and storytelling.

              == link_to 'Our Mission', '#about', class: "btn btn-blue"

section#about.site-content.site-content--about
  .container-fluid
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-lg-4.offset-lg-1
        h2
          | About Boom Concepts
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-4.offset-md-1.col-lg-4.offset-lg-1
        .row
          .col-lg-10.offset-lg-1
            ul.comp-gallery.comp-gallery-1
              li.comp-gallery-ele
                == image_tag "img-girllooking.png", alt: "Girl Posing", class: "comp-gallery-img"
              li.comp-gallery-ele
                == image_tag "img-peopleworking.png", alt: "People Working", class: "comp-gallery-img"
              li.comp-gallery-ele
                == image_tag "img-manspeaking.png", alt: "Man Speaking", class: "comp-gallery-img"
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-7.offset-md-0.col-lg-6.offset-lg-0
        h3
          | BOOM Concepts is dedicated to the development of artist and creative entrepreneurs representing marginalized voices.
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1
        ul.comp-gallery.comp-gallery-2
          li.comp-gallery-ele
            == image_tag "img-dj-small.png", alt: "DJ Spinning", class: "comp-gallery-img"
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-5.offset-md-1.col-lg-4.offset-lg-1
        .row
          .col-lg-12
            h2
              | BOOM Concepts operates as a campus with locations across Pittsburgh
        .row
          .col-lg-10.offset-lg-1
            p
              | BOOM Concepts offers artist studios in auxiliary locations across Pittsburgh’s unique neighborhoods, spaces, and resources catered to each artist’s creative and professional goals.
            p
              | Boom Concepts flagship location is located in the Penn Ave Arts and Business District with a 1500 sq ft store front that host monthly art exhibitions as apart of #Unblurred First Friday gallery crawl, as well as film screenings, community meetings, music performances, dance parties, fundraisers, and more!
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-5.offset-md-1.col-lg-4.offset-lg-1
        ul.comp-gallery.comp-gallery-3
          li.comp-gallery-ele
            == image_tag "img-boomgallery.png", alt: "Boom Gallery", class: "comp-gallery-img"
          li.comp-gallery-ele
            == image_tag "img-dj-large.png", alt: "DJ Spinning", class: "comp-gallery-img"

section#donate.site-content.site-content--donate.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-6.offset-md-3
        h2 Donate to Boom Concepts
        p.large
          | Help us bring creativity to span the community of Pittsburgh by donating to our cause.
        == link_to 'Donate', 'https://www.paypal.me/boomconcepts5139', class: "btn btn-green", target: "_blank"
section#contact.site-content.site-content--contact.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-8.offset-md-1.col-lg-5.offset-lg-1
        h2 Contact<br /> Boom Concepts
        p.large
          | For business inquiries, questions or comments, please send us a comment in our nice form.
        h4 Visit us on Social Media
        nav.comp-nav
          ul.comp-nav-list
            li.comp-nav-el
              == link_to 'https://twitter.com/BOOMConcepts', class: "comp-nav-link" do
                i class="fab fa-twitter"
            li.comp-nav-el
              == link_to 'https://www.instagram.com/boom_concepts/', class: "comp-nav-link" do
                i class="fab fa-instagram"
            li.comp-nav-el
              == link_to 'https://www.facebook.com/boomconcepts/', class: "comp-nav-link" do
                i class="fab fa-facebook"
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-6.col-lg-5.offset-lg-0
        form name="contact" method="POST" netlify="netlify"
          fieldset.comp-form-fieldset
            input.comp-form-el-input type="text" placeholder="Your Name" name="Name"
          fieldset.comp-form-fieldset
            input.comp-form-el-input type="email" placeholder="Your Email" name="Email"
          fieldset.comp-form-fieldset
            textarea.comp-form-el-textarea placeholder="Your Message" name="Message"
          fieldset.comp-form-fieldset
            input.comp-form-el-submit.btn.btn-green type="submit" value="Send"
section.site-content.site-content--newsletter.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-12.col-sm-6
        h4.newsletter-header
          | Get dope events in your inbox:
      .col-12.col-sm-6
        == link_to 'Subscribe','http://eepurl.com/dAnXIn', class: "btn btn-green newsletter-btn"

build/index.html
<!DOCTYPE html><html><head><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><meta charset="utf-8" /><meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /><title>BOOM Concepts</title><link href="//fonts.googleapis.com/css?family=Open Sans:300,400" rel="stylesheet" type="text/css" /><link href="//fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet" type="text/css" /><link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" rel="stylesheet" /><link href="/stylesheets/site.css" rel="stylesheet" /><script src="/javascripts/all.js"></script><script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-121953497-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-121953497-1');</script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PDCDTK4');</script></head><body class="index"><noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-PDCDTK4" style="display:none;visibility:hidden" width="0"></iframe></noscript><header class="site-masthead"><div class="container-fluid"><div class="row"><div class="col-3 col-md-6"><a href="/" class="comp-logo">Boom Concepts</a></div><div class="col-9 col-md-6"><nav class="comp-nav"><ul class="comp-nav-list"><li class="comp-nav-el"><a href="#about" class="comp-nav-link">About</a></li><li class="comp-nav-el"><a href="#donate" class="comp-nav-link">Donate</a></li><li class="comp-nav-el"><a href="#contact" class="comp-nav-link">Contact</a></li><li class="comp-nav-el"><a href="https://twitter.com/BOOMConcepts" class="comp-nav-link"><i class="fab fa-twitter"></i></a></li><li class="comp-nav-el"><a href="https://www.instagram.com/boom_concepts/" class="comp-nav-link"><i class="fab fa-instagram"></i></a></li><li class="comp-nav-el"><a href="https://www.facebook.com/boomconcepts/" class="comp-nav-link"><i class="fab fa-facebook"></i></a></li></ul></nav></div></div></div></header><main class="site-wrap"><section class="site-hero"><div class="container-fluid"><div class="row"><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-10 offset-lg-1 col-xl-9"><div class="site-hero-content"><h1><span class="headline-word--boom">Boom&nbsp;</span><span class="headline-word--concepts">Concepts,&nbsp;</span><span class="headline-sentence">A Creative Hub For Our Community</span></h1><div class="row"><div class="col-lg-8"><p class="large">BOOM is a space for field building, knowledge sharing, mentorship, and storytelling.</p><a href="#about" class="btn btn-blue">Our Mission</a></div></div></div></div></div></div></section><section class="site-content site-content--about" id="about"><div class="container-fluid"><div class="row"><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-4 offset-lg-1"><h2>About Boom Concepts</h2></div></div><div class="row"><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-md-4 offset-md-1 col-lg-4 offset-lg-1"><div class="row"><div class="col-lg-10 offset-lg-1"><ul class="comp-gallery comp-gallery-1"><li class="comp-gallery-ele"><img src="/images/img-girllooking.png" alt="Girl Posing" class="comp-gallery-img" /></li><li class="comp-gallery-ele"><img src="/images/img-peopleworking.png" alt="People Working" class="comp-gallery-img" /></li><li class="comp-gallery-ele"><img src="/images/img-manspeaking.png" alt="Man Speaking" class="comp-gallery-img" /></li></ul></div></div></div><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-md-7 offset-md-0 col-lg-6 offset-lg-0"><h3>BOOM Concepts is dedicated to the development of artist and creative entrepreneurs representing marginalized voices.</h3></div></div><div class="row"><div class="col-11 offset-1 col-sm-11 offset-sm-1"><ul class="comp-gallery comp-gallery-2"><li class="comp-gallery-ele"><img src="/images/img-dj-small.png" alt="DJ Spinning" class="comp-gallery-img" /></li></ul></div></div><div class="row"><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-1"><div class="row"><div class="col-lg-12"><h2>BOOM Concepts operates as a campus with locations across Pittsburgh</h2></div></div><div class="row"><div class="col-lg-10 offset-lg-1"><p>BOOM Concepts offers artist studios in auxiliary locations across Pittsburgh’s unique neighborhoods, spaces, and resources catered to each artist’s creative and professional goals.</p><p>Boom Concepts flagship location is located in the Penn Ave Arts and Business District with a 1500 sq ft store front that host monthly art exhibitions as apart of #Unblurred First Friday gallery crawl, as well as film screenings, community meetings, music performances, dance parties, fundraisers, and more!</p></div></div></div><div class="col-11 offset-1 col-sm-11 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-1"><ul class="comp-gallery comp-gallery-3"><li class="comp-gallery-ele"><img src="/images/img-boomgallery.png" alt="Boom Gallery" class="comp-gallery-img" /></li><li class="comp-gallery-ele"><img src="/images/img-dj-large.png" alt="DJ Spinning" class="comp-gallery-img" /></li></ul></div></div></div></section><section class="site-content site-content--donate site-content--color site-content--height100" id="donate"><div class="container-fluid"><div class="row align-items-center"><div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 offset-md-3"><h2>Donate to Boom Concepts</h2><p class="large">Help us bring creativity to span the community of Pittsburgh by donating to our cause.</p><a href="https://www.paypal.me/boomconcepts5139" class="btn btn-green" target="_blank">Donate</a></div></div></div></section><section class="site-content site-content--contact site-content--color site-content--height100" id="contact"><div class="container-fluid"><div class="row align-items-center"><div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-1 col-lg-5 offset-lg-1"><h2>Contact<br /> Boom Concepts</h2><p class="large">For business inquiries, questions or comments, please send us a comment in our nice form.</p><h4>Visit us on Social Media</h4><nav class="comp-nav"><ul class="comp-nav-list"><li class="comp-nav-el"><a href="https://twitter.com/BOOMConcepts" class="comp-nav-link"><i class="fab fa-twitter"></i></a></li><li class="comp-nav-el"><a href="https://www.instagram.com/boom_concepts/" class="comp-nav-link"><i class="fab fa-instagram"></i></a></li><li class="comp-nav-el"><a href="https://www.facebook.com/boomconcepts/" class="comp-nav-link"><i class="fab fa-facebook"></i></a></li></ul></nav></div><div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 col-lg-5 offset-lg-0"><form method="POST" name="contact" netlify="netlify"><fieldset class="comp-form-fieldset"><input class="comp-form-el-input" name="Name" placeholder="Your Name" type="text" /></fieldset><fieldset class="comp-form-fieldset"><input class="comp-form-el-input" name="Email" placeholder="Your Email" type="email" /></fieldset><fieldset class="comp-form-fieldset"><textarea class="comp-form-el-textarea" name="Message" placeholder="Your Message"></textarea></fieldset><fieldset class="comp-form-fieldset"><input class="comp-form-el-submit btn btn-green" type="submit" value="Send" /></fieldset></form></div></div></div></section><section class="site-content site-content--newsletter site-content--color site-content--height100"><div class="container-fluid"><div class="row align-items-center"><div class="col-12 col-sm-6"><h4 class="newsletter-header">Get dope events in your inbox:</h4></div><div class="col-12 col-sm-6"><a href="http://eepurl.com/dAnXIn" class="btn btn-green newsletter-btn">Subscribe</a></div></div></div></section></main></body></html>
